amqp==2.2.2
Babel==2.5.3
billiard==3.5.0.3
celery==4.2.1
click==6.7
Flask
opencv-python
itsdangerous==0.24
Jinja2==2.10
kombu==4.2.0
MarkupSafe==1.0
pytz==2018.3
redis==2.10.6
tornado==5.0.2
vine==1.1.4
Werkzeug==0.14.1
flask-uploads
requests==2.21.0
requests-toolbelt==0.9.1
urllib3==1.24.1
flask-session
Flask-SQLAlchemy
opencv-python
pyarrow==0.11.1